.navbar {
    background-color: #7099ff;
    padding: 1.25rem 1rem;
    box-shadow: 0px 2px 4px #abc4ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarList {
    display: flex;
    gap: 1rem;
}

.navbarItem {
    list-style-type: none;
}

.navbarLink {
    transition: 0.3s;
    color: #fff;
}

.navbarLink:hover,
.navbarLink:focus {
    color: #001D66;
    transition: 0.3s;
}