.counter-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    border: 1px solid #7099FF;
    border-radius: 16px;
}

.counter-btn {
    border: none;
    background-color: transparent;
    padding: 1rem;
    border-left: 1px solid #7099FF;
    border-right: 1px solid #7099FF;
    color: #0D1D45;
}

.no-border-left {
    border-left: none;
}

.no-border-right {
    border-right: none;
}