html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #EDF2FB;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.slide-up {
  animation: slideUp 0.5s ease-out;
}

.slide-from-left {
  animation: slideFromLeft 0.5s ease-out forwards;
}


/* keyframes */
@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}